PracaInzV2/HotelSystem/HotelSystem/KlientSolutiuon/HotelTester/Connected Services/Serwer/HotelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HotelService/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HotelService/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HotelService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotelService_WolnePokoje_InputMessage">
    <wsdl:part name="parameters" element="tns:WolnePokoje" />
  </wsdl:message>
  <wsdl:message name="IHotelService_WolnePokoje_OutputMessage">
    <wsdl:part name="parameters" element="tns:WolnePokojeResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_RezerwujPokoj_InputMessage">
    <wsdl:part name="parameters" element="tns:RezerwujPokoj" />
  </wsdl:message>
  <wsdl:message name="IHotelService_RezerwujPokoj_OutputMessage">
    <wsdl:part name="parameters" element="tns:RezerwujPokojResponse" />
  </wsdl:message>
  <wsdl:portType name="IHotelService">
    <wsdl:operation name="WolnePokoje">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/WolnePokoje" message="tns:IHotelService_WolnePokoje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/WolnePokojeResponse" message="tns:IHotelService_WolnePokoje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RezerwujPokoj">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/RezerwujPokoj" message="tns:IHotelService_RezerwujPokoj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/RezerwujPokojResponse" message="tns:IHotelService_RezerwujPokoj_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHotelService" type="tns:IHotelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WolnePokoje">
      <soap:operation soapAction="http://tempuri.org/IHotelService/WolnePokoje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RezerwujPokoj">
      <soap:operation soapAction="http://tempuri.org/IHotelService/RezerwujPokoj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService">
    <wsdl:port name="BasicHttpBinding_IHotelService" binding="tns:BasicHttpBinding_IHotelService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HotelService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>