PracaInzV2/HotelSystem/HotelSystem/KlientSolutiuon/HotelTester/Connected Services/Serwer/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPokoj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pokoj" nillable="true" type="tns:Pokoj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPokoj" nillable="true" type="tns:ArrayOfPokoj" />
  <xs:complexType name="Pokoj">
    <xs:sequence>
      <xs:element minOccurs="0" name="LiczbaOsob" type="xs:int" />
      <xs:element minOccurs="0" name="Opis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pokoj" nillable="true" type="tns:Pokoj" />
  <xs:complexType name="Rezerwacja">
    <xs:sequence>
      <xs:element minOccurs="0" name="Akceptacja" type="xs:boolean" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LiczbaOsob" type="xs:int" />
      <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rezerwacja" nillable="true" type="tns:Rezerwacja" />
</xs:schema>